{% extends 'base.html.twig' %}
 {% block content %}
  <div class="page-heading">
   <div class="container">
    <div class="row">
     <div class="col-lg-4"></div>
     <div class="col-lg-4">
      <div class="top-text header-text">
       <h2>Bug</h2>
      </div>
     </div>
     <div class="col-lg-4"></div>
    </div>
   </div>
  </div>


  <div class="container">
   <div class="bugPage bugPagePadding">
    <div class="col-lg-12">
     <div class="row bugBlockSpaces">

      <div class="col-lg-4 bugInsideFormSpaces"></div>
      <div class="col-lg-4 noRightMargin bugInsideFormSpaces">
       <h2>{{ bug.titleBug }}</h2>
       <h4>{{ bug.subtitleBug }}</h4>
       <img src="{{ asset('assets/images/' ~bug.descriptionImgBug) }}" alt="">
      </div>
      <div class="col-lg-4 bugInsideFormSpaces"></div>
     </div>
     <div class="boxGameInfos">
      <div class="col-lg-3">
       <p>Informations Jeu :</p>
      </div>
      <div class="col-lg-9">
       <p>Titre : {{ game.nameGame }}</p>
       <p>Editeur : {{ editor.editorName }}</p>
       <p>Année de publication : {{ game.yearOfPublication }}</p>
       <p>Taux de bugs : {% if game.bugRating == 5 %}
        <span class="fa fa-star badChecked"></span>
        <span class="fa fa-star badChecked"></span>
        <span class="fa fa-star badChecked"></span>
        <span class="fa fa-star badChecked"></span>
        <span class="fa fa-star badChecked"></span>
        {% elseif game.bugRating == 4 %}
        <span class="fa fa-star goodChecked"></span>
        <span class="fa fa-star badChecked"></span>
        <span class="fa fa-star badChecked"></span>
        <span class="fa fa-star badChecked"></span>
        <span class="fa fa-star badChecked"></span>
        {% elseif game.bugRating == 3 %}
        <span class="fa fa-star goodChecked"></span>
        <span class="fa fa-star goodChecked"></span>
        <span class="fa fa-star badChecked"></span>
        <span class="fa fa-star badChecked"></span>
        <span class="fa fa-star badChecked"></span>
        {% elseif game.bugRating == 2 %}
        <span class="fa fa-star goodChecked"></span>
        <span class="fa fa-star goodChecked"></span>
        <span class="fa fa-star goodChecked"></span>
        <span class="fa fa-star badChecked"></span>
        <span class="fa fa-star badChecked"></span>
        {% elseif game.bugRating == 1 %}
        <span class="fa fa-star goodChecked"></span>
        <span class="fa fa-star goodChecked"></span>
        <span class="fa fa-star goodChecked"></span>
        <span class="fa fa-star goodChecked"></span>
        <span class="fa fa-star badChecked"></span>
        {% elseif game.bugRating == 0 %}
        <span class="fa fa-star goodChecked"></span>
        <span class="fa fa-star goodChecked"></span>
        <span class="fa fa-star goodChecked"></span>
        <span class="fa fa-star goodChecked"></span>
        <span class="fa fa-star goodChecked"></span>
        {% else %}
       Il y a une erreur dans la note
       {% endif %}
       </p>
      </div>
     </div>
     <div class="row bugBlockSpaces">
      <div class="col-lg-12 bugInsideFormSpaces">
       <p>Sévérité : {{ bug.severityBug }}</p>
       <p>Fréquence : {{ bug.frequencyBug }}</p>
       {% if bugFix is empty %}
         <p>Résolution suite à une MAJ : Pas de données </p>
       {% else %}
         {% if "{{ bugFix.resolved }}" == true %}
           <p>Résolution suite à une MAJ : Oui </p>
           <p>Numéro MàJ : {{ bugFix.majNumber }}</p>
           <p>Date MàJ : {{ bugFix.dateBugFix | date("d/m/Y") }}</p>
         {% else %}
           <p>Résolution suite à une MAJ : Non </p>
         {% endif %}
       {% endif %}
      </div>
      <div class="col-lg-12">
       <p>{{ bug.descriptionTextBug }}
       </p>
      </div>
      <div class="col-lg-4">
      <a href="{{ path('bugUpdatePage', {'id': bug.id}) }}"><button class="main-button buttonStyle">Modifier les informations sur le bug</button></a>
      </div>
      <div class="col-lg-8"></div>
     </div>

     <div class="row bugBlockSpaces">
     <h2>Solution(s) existante(s) :</h2>
     {% if bugSolutions is empty %}
     <div class="col-lg-12 bugInsideFormSpaces">
       <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <p>Aucune solution répertoriée pour l'instant.</p>
        </div>
       <div class="col-lg-4"></div>
       </div>
     {% else %}
       {% for bugSolution in bugSolutions %}
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <img src="{{ asset('assets/images/' ~bugSolution.imgBugSolution) }}" alt="">
        </div>
        <div class="col-lg-4"></div>

        <div class="col-lg-12">
         <p>{{ bugSolution.textBugSolution }}</p>
        </div>

        
        <div class="col-lg-4 bugInsideFormSpaces">
        <a href="{{ path('bugSolutionUpdatePage', {'id': bugSolution.id}) }}"><button class="main-button buttonStyle">Modifier la solution</button></a>
        </div>
        <div class="col-lg-4 bugInsideFormSpaces"><a href="{{ path('deleteBugSolution', {'id': bugSolution.id}) }}"><button class="main-button buttonStyle">Supprimer la solution</button></a></div>
        <div class="col-lg-4 bugInsideFormSpaces"></div>
       
        
       {% endfor %}

      {% endif %}
      <a href="{{ path('bugSolutionCreationPage', {'idBug':bug.id}) }}"><button class="main-button buttonStyle">Ajouter une solution</button></a>
     </div>

     <div class="row bugBlockSpaces">
      <div class="col-lg-4"><a href="{{ path('deleteBug', {'id': bug.id}) }}"><button class="main-button buttonStyle">Supprimer le bug</button></a></div>
      <div class="col-lg-8"></div>
     </div>

     <div class="row bugBlockSpaces">

      <div class="col-lg-4"></div>
      <div class="col-lg-4">
       <h2>Commentaires</h2>
      </div>
      <div class="col-lg-4"></div>

      <div class="bugPageBetweenSpaces">

      </div>
      {% for comment in comments %}
      <div class="col-lg-2">
       <img src="{{ asset('images/' ~ comment.idUser.avatar) }}" alt="">
      </div>
      <div class="col-lg-10">
       <p>{{ comment.textComments }}</p>
      </div>
      <div class="col-lg-12 bugPageBetweenSpaces">
       <a href="{{ path('updateComment', {'id': comment.id}) }}"><button class="btn btn-primary">Modifier</button></a>
       <a href="{{ path('deleteComment', {'id': comment.id}) }}"><button class="btn btn-primary">Supprimer</button></a>
      </div>
      {% endfor %}

      <div class="col-lg-12">
       <h2>Laisser un commentaire</h2>
        {{ form_start(commentsForm, {'method': 'POST', 'attr':{'id': 'search-form', 'name': 'commentForm', 'class': 'commentForm'}}) }}
        <fieldset>
         {{ form_row(commentsForm.textComments, {'label':'Laisser un commentaire :', 'attr': {'class': 'commentText'}}) }}
         <button class="main-button commentButton"><input type="submit" name="commentFormSubmit"></button>
        </fieldset>
        {{ form_end(commentsForm) }}

      </div>
     </div>
    </div>
   </div>
  </div>
 {% endblock %}