{% extends 'base.html.twig' %}
 {% block content %}
  <div class="page-heading">
   <div class="container">
    <div class="row">
     <div class="col-lg-8">
      <div class="top-text header-text">
       <h2>Nous contacter</h2>
      </div>
     </div>
    </div>
   </div>
  </div>

  <div class="contact-page">
   <div class="container">
    <div class="row">
     <div class="col-lg-12">
      <div class="inner-content">
       <div class="row connectInscript">
        <p>Pour toute question à propos du site ou pour une demande particulière, vous pouvez nous contacter par les moyens suivants :</p>
        <p>Téléphone : 0445 56 88 59</br>
         Mail : thibaultdelaunois@gmail.com
        </p>
       </div>
       <div class="row connectInscript">
        <p>Vous pouvez aussi nous contacter via ce formulaire :</p>
        {{ form_start(contactForm, {'method': 'POST', 'attr':{'id': 'search-form', 'class':'limitPadding', 'name': 'gs'}}) }}

         <div class="row searchFormPage">
          <fieldset>
           {{ form_row(contactForm.nameContactMessage, {'label':'Votre nom (ou pseudonyme) :', 'attr': {'class':'searchText contactEmailInput'}}) }}
           {{ form_row(contactForm.mailContact, {'label':'Adresse email :', 'attr': {'class':'searchText contactEmailInput'}}) }}
           {{ form_row(contactForm.textContactMessage, {'label':'Votre message :', 'attr': {'id': 'contactText', 'class':'textareaBugCreation'}}) }}

          </fieldset>
          <button class="main-button bugInsideFormSpaces"> Envoyer</button>
         </div>
        {{ form_end(contactForm) }}
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 {% endblock %}