{% extends 'base.html.twig' %}
 {% block content %}
  <div class="page-heading">
   <div class="container">
    <div class="row">
     <div class="col-lg-4"></div>
     <div class="col-lg-8">
      <div class="top-text header-text">
       <h2>Proposer un bug</h2>
      </div>
     </div>
     <div class="col-lg-4"></div>
    </div>
   </div>
  </div>

  <div class="listing-page">
   <div class="container">
    <div class="row">
     <div class="col-lg-12">
      <div class="naccs">
       <div class="grid">
        <div class="row">
        {{ form_start(bugForm, {'method': 'POST', 'attr':{'id': 'search-form', 'name': 'bugForm', 'class': 'bugForm'}}) }}
        <div class="col-lg-12 bugFormSpaces">
        <fieldset>
        <div class="col-lg-12 bugInsideFormSpaces">
        {{ form_row(bugForm.idGame, {'label': 'Jeu concerné par le bug :', 'attr': {'class': 'inputBugForm'} }) }}
        </div>
        <div class="col-lg-12 bugInsideFormSpaces">
            <p class="textAddGame">Le jeu concerné n'est pas dans la liste ? <a href="{{ path('gameCreationPage') }}">Ajoutez-le !</a></p>
        </div>
        </fieldset>
        </div>

        <div class="col-lg-12 bugFormSpaces">
        <h3>Données Bug</h3>
        {{ form_row(bugForm.titleBug, {'label': 'Titre du Bug :', 'attr': {'class': 'inputBugForm'} }) }}
        {{ form_row(bugForm.subtitleBug, {'label': 'Sous-titre du Bug :', 'attr': {'class': 'inputBugForm'} }) }}
        {{ form_row(bugForm.smallTextBug, {'label': 'Texte intro du Bug :', 'attr': {'class': 'inputBugForm'} }) }}
        {{ form_row(bugForm.descriptionImgBug, {'label': 'Image de description :', 'attr': {'class': 'inputBugForm'} }) }}
        {{ form_row(bugForm.descriptionTextBug, {'label': 'Description du Bug :', 'attr': {'class': 'textareaBugCreation'} }) }}
        {{ form_row(bugForm.severityBug, {'label': 'Sévérité du Bug :', 'attr': {'class': 'inputBugForm'} }) }}
        {{ form_row(bugForm.frequencyBug, {'label': 'Fréquence du Bug :', 'attr': {'class': 'inputBugForm'} }) }}
        </div>
        <div class="col-lg-12 bugFormSpaces">
        <h3>Bug Fix</h3>
        {{ form_row(bugForm.idBugFix.resolved, {'label': 'Bug résolu ?', 'attr': {'class': 'inputBugForm'} }) }}
        {{ form_row(bugForm.idBugFix.majNumber, {'label': 'Numéro de mise à jour :', 'attr': {'class': 'inputBugForm'} }) }}
        {{ form_row(bugForm.idBugFix.dateBugFix, {'label': 'Date de mise à jour :', 'attr': {'class': 'inputBugForm'} }) }}
        </div>
        <div class="col-lg-4"></div>
           <div class="col-lg-4"></div>
           <div class="col-lg-4">
            <button><input type="submit" name="submitBugButton"></button>
           </div>
        {{ form_end(bugForm) }}
         
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 {% endblock %}