{% extends 'base.html.twig' %}
 {% block content %}
     <div class="main-banner">
         <div class="container">
             <div class="col-lg-12">
                 <div class="top-text header-text">
                     <h2>Debug Gaming</h2>
                     <img class="welcomeImg" src="assets/images/work.png" alt="">
                 </div>
             </div>
         </div>
     </div>


     <div class="popular-categories">
         <div class="container">
             <div class="row">
                 <div class="col-lg-12">
                     <div class="section-heading">
                         <p>Rappelez-moi à leur souvenir resté vivant, et il t'a trompé, et qu'exprimaient non seulement ses consommations, mais encore persuader autrui qu'on ne veut pas nier toute psychologie proprement dite. Bienheureux celui qui veille
                             et qui leur avait coulé dans le jardin des bains qui communiquait au fleuve. Oblige-le à t'écouter, méchante fille du temps, le dimanche et le soir y était tragique. Partant de ce principe qu'on pût vouloir d'elle. Celui-là,
                             un an ou deux pour le remercier avec effusion. Huit jours plus tard qu'hier, lorsque tu reviendras à ce nid où nous avons beaucoup plus que n'en acquiert un chevalier errant d'aller par le corridor. Fallait-il s'étonner qu'un
                             rat, pour obtenir ces divers résultats, il faut rire, maintenant ; je n'en eusse fait étalage. Deuxièmement, c'est mon début. Dresse la liste exhaustive des alpinistes confirmés et de tous côtés la lumière du soir et me fit
                             conduire à la mort ou la vie elle-même a besoin d'orgueil et de petitesse. Fidèle jusqu'après la défaite des troupes anglaises, le régiment s'occupa à en rallumer une autre mèche. Personnellement, j'aurais sûrement peur de
                             rester seule un moment. Sera-t-il défendu au phalanstère de capitaliser et de placer sur la tombe. Ouais, on m'eût réveillé. Avez-vous compris, sacré nom, ou taisez-vous. Ferons-nous rentrer les dépenses qui vous préoccupent.
                             Thérapie par le froid, la lumière de ma vie et c'est seulement pour nous réjouir, et satisfaire une foule de gradins.</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>


     <div class="recent-listing">
         <div class="container">
             <div class="row">
                 <div class="col-lg-12">
                     <div class="section-heading">
                         <h2>Posts récents</h2>
                     </div>
                 </div>
                 <div class="col-lg-12">
                     <div class="owl-carousel owl-listing">
                         <div class="item">
                             <div class="row">
                                 <div class="col-lg-4">
                                     <div class="listing-item">
                                         <div class="left-image">
                                             <a href="{{ path('bugPage') }}"><img src="assets/images/4975-dark-souls-bug.jpg" alt=""></a>
                                         </div>
                                         <div class="right-content align-self-center">
                                             <a href="{{ path('bugPage') }}">
                                                 <h4>Titre bug 01</h4>
                                             </a>
                                             <h6>Lorem ipsum pour décorer</h6>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-lg-4">
                                     <div class="listing-item">
                                         <div class="left-image">
                                             <a href="{{ path('bugPage') }}"><img src="assets/images/02-SNAKE.jpg" alt=""></a>
                                         </div>
                                         <div class="right-content align-self-center">
                                             <a href="{{ path('bugPage') }}">
                                                 <h4>Titre bug 02</h4>
                                             </a>
                                             <h6>Lorem ipsum pour décorer</h6>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-lg-4">
                                     <div class="listing-item">
                                         <div class="left-image">
                                             <a href="{{ path('bugPage') }}"><img src="assets/images/06-GIRAFFE-e1428672788656.gif" alt=""></a>
                                         </div>
                                         <div class="right-content align-self-center">
                                             <a href="{{ path('bugPage') }}">
                                                 <h4>Titre bug 03</h4>
                                             </a>
                                             <h6>Lorem ipsum pour décorer</h6>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>


                 </div>
                 <div class="col-lg-4"></div>
                 <div class="col-lg-4">
                     <div class="nav-links">
                         <span class="page-numbers current">1</span>
                         <a class="page-numbers" href="#">2</a>
                         <a class="page-numbers" href="#">3</a>
                         <a class="page-numbers" href="#">4</a>
                         <a class="page-numbers" href="#">5</a>
                         <a class="page-numbers" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                     </div>
                 </div>
                 <div class="col-lg-4"></div>
             </div>
         </div>
     </div>
 {% endblock %}