{% extends 'base.html.twig' %}
 {% block content %}

  <div class="page-heading">
   <div class="container">
    <div class="row">
     <div class="col-lg-4"></div>
     <div class="col-lg-4">
      <div class="top-text header-text">
       <h2>Inscription</h2>
      </div>
     </div>
     <div class="col-lg-4"></div>
    </div>
   </div>
  </div>

  <div class="contact-page">
   <div class="container">
   {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="row">
     <div class="col-lg-12">
      <div class="inner-content">
       <div class="row">
        <div class="col-lg-12 align-self-center">
        

         <form id="contact" class="connectInscript" action="" method="get">
          <div class="row">
           <div class="col-lg-12">
           {{ form_start(registrationForm) }}
           <fieldset>
           {{ form_row(registrationForm.email, {'label': 'Adresse mail :' }) }}
           </fieldset>
        <fieldset>
           {{ form_row(registrationForm.pseudonym, {'label': 'Pseudonyme :' })}}
           </fieldset>
           <fieldset>
           {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe :' }) }}
           </fieldset>
           <div class="col-lg-12">
            <fieldset>
             <button type="submit" id="form-submit" class="main-button "> Valider</button>
            </fieldset>
           </div>
           {{ form_end(registrationForm) }}
          </div>
         </form>

        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
{% endblock %}