<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Debug Gaming{% endblock %}</title>
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Additional CSS Files -->
            <link rel="stylesheet" href="{{asset('assets/css/fontawesome.css')}}">
            <link rel="stylesheet" href="{{ asset('assets/css/templatemo-plot-listing.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/animated.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/owl.css') }}">

        {% endblock %}
        <script src="https://kit.fontawesome.com/53244cad5b.js" crossorigin="anonymous"></script>

    </head>
    <body>
        {% block body %}

            <!-- ***** Preloader Start ***** -->
            <div id="js-preloader" class="js-preloader">
                <div class="preloader-inner">
                    <span class="dot"></span>
                    <div class="dots">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <!-- ***** Preloader End ***** -->
            {% block header %}
                <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <nav class="main-nav">
                                    <!-- ***** Logo Start ***** -->
                                    <a href="{{ path('homePage') }}" class="logo">
                                    </a>
                                    <!-- ***** Logo End ***** -->
                                    <!-- ***** Menu Start ***** -->
                                    <ul class="nav">
                                        <li><a href="{{ path('bugSearchPage') }}">Tous les bugs</a></li>
                                        <li><a href="{{ path('bugCreationPage') }}">Proposer un bug</a></li>
                                        <li>
                                            <div class="navSearchBar col-lg-12">
                                                <form id="search-form" class="navSearchForm" name="gs" method="POST" role="search" action="#">
                                                    <div class="row">

                                                        <div class="col-lg-8 align-self-center">
                                                            <fieldset>
                                                                <input type="text" name="navSearchForm" class="searchText" placeholder="Rechercher..." autocomplete="on" required>
                                                            </fieldset>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <fieldset>
                                                                <button class="main-button headerSearchBarButton"><i class="fas fa-search navIconSearchBar"></i></button>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                        <li><a href="{{ path('app_register') }}">Inscription</a></li>
                                        <li><a href="{{ path('connectionPage') }}">Connexion</a></li>
                                        <li>
                                            <div>
                                                <p></p>
                                            </div>
                                        </li>

                                    </ul>
                                    <a class='menu-trigger'>
                                        <span>Menu</span>
                                    </a>
                                    <!-- ***** Menu End ***** -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>
            {% endblock %}

            {% block content %}{% endblock %}
            {% block footer %}
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="about">
                                    <p> <a href="{{ path('homePage') }}">Accueil</a></p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="helpful-links">
                                    <a href="{{ path('contactPage') }}">Contact</a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="helpful-links">
                                    <a href="{{ path('adminGestionBugsPage') }}">Gestion Admin</a>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="contact-us">
                                <a href="https://www.facebook.com/DebugGaming"><img class="socialLogos" src="{{ asset('assets/images/facebook_logo.png') }}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="contact-us">
                                <a href="https://twitter.com/debug_gaming"><img class="socialLogos" src="{{ asset('assets/images/twitter_logo.png') }}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sub-footer">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>

            {% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('assets/js/owl-carousel.js') }}"></script>
            <script src="{{ asset('assets/js/animation.js') }}"></script>
            <script src="{{ asset('assets/js/imagesloaded.js') }}"></script>
            <script src="{{ asset('assets/js/custom.js') }}"></script>

        {% endblock %}
    </body>
</html>
